{% extends "base.html" %}

{% block head_title %} Admin Dashboard | {{ block.super }} {% endblock head_title %}

{% block content %}
	<div class="container">
		<div class="row">
			<h1><a href="{% url 'admin-home' %}">Admin View</a> | <a href="{% url 'home' %}">User View</a></h1>
		</div>

		<div class="row">
			<ul>
				<li><a href="{% url 'admin-categories' %}">View categories</a></li>
				<li><a href="{% url 'admin-products' %}">View products</a></li>
                <li><a href="{% url 'admin-images' %}">View images</a></li>
				<li><a href="{% url 'admin-add-category' %}">Add a category</a></li>
				<li><a href="{% url 'admin-add-product' %}">Add a product</a></li>
                <li><a href="{% url 'admin-add-image' %}">Add an image</a></li>
			</ul>

			<form method="GET" action="{% url 'admin-search' %}" class="form-inline">
				<div class="form-group">
					<input type="text" name="q" placeholder="Enter product name..." class="form-control">
				</div>
				<input type="submit" value="Search" class="btn btn-primary">
				{% csrf_token %}
			</form>
		</div>
		
		<div class="row">
			{% block admin_content %} {% endblock admin_content %}
		</div>
	</div>
{% endblock content %}