{% extends "admin/admin_base.html" %}

{% block head_title %} Categories | {{ block.super }} {% endblock head_title %}

{% block admin_content %}
    {% if categories %}
        <h1>Categories</h1>
        <table class="table">
        {% for category in categories  %}
            <tr>
                <td>
                    <a href="{% url 'admin-category-details' category.id %}">{{category}}</a>
                </td>
                <td>
                     <form action="{% url 'delete-category' category.id %}" method="post" style="display: inline">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-default btn-sm">
                            <span class="glyphicon glyphicon-trash"></span>
                        </button>
                    </form>
                </td>
            </tr>
        {% endfor %}
        </table>
    {% else %}
        <h1>No categories yet</h1>
    {% endif %}

{% endblock admin_content %}