{% extends "admin/admin_base.html" %}

{% block head_title %} Add a product | {{ block.super }} {% endblock head_title %}

{% block meta %} 
	{{block.super}}
    {% load wysiwyg %}
	{% wysiwyg_setup %}
	{% load crispy_forms_tags %}
    <script src="/static/js/s3.js"></script>
{% endblock meta%}

{% block admin_content %}
    {{ images_form }}
 	<form action="{% url 'admin-add-product' %}" method="POST" class="post-form" id="product-form">{% csrf_token %}
{#        <div class="row">#}
{#            <div class="col-lg-3">#}
{#                <div class="form-group">#}
{#                    {{ form.name.label }}#}
{#                </div>#}
{#                <div class="form-group">#}
{#                    {{ form.price.label }}#}
{#                    {{ form.price }}#}
{#                </div>#}
{#                <div class="form-group">#}
{#                    {{ form.categories.label }}#}
{#                    {{ form.categories }}#}
{#                </div>#}
{#            </div>#}
{##}
{#            <div class="col-lg-9">#}
{#                <div class="form-group">#}
{#                    {{ form.description.label }}#}
{#                    {{ form.description }}#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{##}
{#        <div class="row">#}
{#            <button type="submit" class="save btn btn-success">Save</button>#}
{#        </div>#}
        {{ form|crispy }}
        <button type="submit" class="save btn btn-success">Save</button>
    </form>
    {% wysiwyg_editor "id_description" %}
{% endblock admin_content %}
