{% extends "public_base.html" %}

{% block head_title %} Login | {{ block.super }} {% endblock head_title %}

{% block meta %} 
	{{block.super}}
	{% load crispy_forms_tags %}
{% endblock meta%}

{% block public_content %}
    {% if request.GET.next %}
    <form action="{% url 'login' %}?next={{ request.GET.next }}" method="POST">
    {% else %}
    <form action="{% url 'login' %}" method="POST">
    {% endif %}
 	    {% csrf_token %}
        {{ form|crispy }}
        <button type="submit" class="save btn btn-primary">Log in</button>
    </form>
{% endblock public_content %}
