{% extends "base.html" %}

{% block content %}
	<div class="container">
		<div class="row">
			<div class="col-lg-6">
				<h2><a href="{% url 'home' %}">Shopping Cart</a> | <a href="{% url 'admin-home' %}"> Admin tools</a></h2>
			</div>
			<div class="col-lg-4">
				<h2>Welcome, dear customer!</h2>
			</div>
            <div class="col-lg-2">
                <h2><a href="{% url 'cart' %}">Cart</a></h2>
            </div>
		</div>
		<div class="row">
			{% block search %}
			<div class="col-lg-4">
				<form method="GET" action="{% url 'search' %}" class="form-inline">
					{% csrf_token %}
					<div class="form-group">
						<input type="text" name="q" placeholder="Enter product name..." class="form-control">
					</div>
					<input type="submit" value="Search" class="btn btn-primary">
				</form>
			</div>	
			{% endblock search %}
		</div>
	</div>

    <div class="container">
        {% block public_content %} {% endblock public_content %}
    </div>
{% endblock content %}